.mat-table {
    width: 70%;
    background: none;
}

.list-employees-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 24rem;
    overflow: auto;
}
.mat-column-action, .mat-column-done {
    width: 10%;
}

th {
    font-size: medium;
}

::ng-deep .mat-select-panel {
    background: #c2185b ;
}
.confirm-button{
    justify-content: space-evenly;
    display: flex;
}

.mat-header-row {
    height: 3rem;
    background: #ffff;
}
.mat-header-cell {
    color: #c2185b;
}