.welcome-message {
    font-family: serif;
    font-weight: 500;
    font-size: x-large;
}
.header-container {
    display: flex;
    width: 100%;
}
.mat-toolbar-single-row {
    justify-content: flex-end;
}
.mat-icon-button {
    margin-left: 3rem !important;
}

::ng-deep .mat-menu-content {
    background: #c2185b;
}

.active-link {
    background: #ffff;
    color: #c2185b;
}