.create-company-container {
    display: flex;
    flex-direction: column;
}

.button-wrapper {
    justify-content: center;
    display: flex;
}

.mat-table {
    width: 100%;
    background: none;
}
.filter-by-company {
    width: 70%;
    margin-top: 2rem;
    display: block;
}

::ng-deep .mat-select-panel {
    background: #c2185b ;
}

.table-filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mat-column-action {
    width: 10%;
}

.select-label {
    font-size: large;
}

::ng-deep .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple){
    background: #ffff !important;
}

th {
    font-size: medium;
}

::ng-deep .mat-select-panel {
    position: absolute;
    left: 1rem;
    top: 1.5rem;
    min-width: 100% !important;
}

.table-container {
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mat-header-row {
    height: 3rem;
    background: #ffff;
}
.mat-header-cell {
    color: #c2185b;
}