<ng-container> 
    <div class="page-title">
        <mat-card-title>View 1: Employee Creation Form</mat-card-title>
    </div>
    <div class="create-employee-form-container">
        <div class="create-employee-form-card">
            <form [formGroup]="createEmployeeForm" class="create-employee-form">
                <mat-form-field class="example-full-width" appearance="outline">
                    <input  matInput 
                            formControlName="firstName" 
                            placeholder="Please enter employee first name" 
                            required>
                    <mat-error *ngIf="createEmployeeForm.get('firstName')?.hasError('required')">
                        First name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="outline">
                    <input matInput formControlName="lastName" placeholder="Please enter employee last name">
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="outline">
                    <input type="text" 
                           matInput 
                           formControlName="company" 
                           placeholder="Please select a company"
                           [matAutocomplete]="auto">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
                        <mat-option *ngFor="let option of filteredCompanies | async" [value]="option">
                            {{option.name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <div class="button-wrapper">
                    <button mat-raised-button color="primary" (click)="onCreateEmployee()" [disabled]="!createEmployeeForm.valid">Create employee</button>
                </div>
            </form>
        </div>
    </div>
</ng-container>