<div class="create-employee-form">
    <form [formGroup]="createEmployeeForm">
        <mat-form-field class="example-full-width" appearance="outline">
            
            <input matInput formControlName="firstName" placeholder="Please enter your first name">
            <mat-error *ngIf="createEmployeeForm.get('firstName')?.hasError('required')">
                First name is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <input matInput formControlName="lastName" placeholder="Please enter your last name">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <input matInput formControlName="companyName" placeholder="Please enter your company name">
        </mat-form-field>
        <button mat-button color="accent" (click)="onCreate()">Create</button>
      </form>
</div>
