.create-employee-form {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 0px 30px #f7f7f7;
    -webkit-box-flex: 1;
    padding: 1.25rem;
}
.create-employee-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 100%;
    flex-direction: column;
}
.create-employee-form-card {
    width: 50%;
}
.button-wrapper {
    display: flex;
    justify-content: center;
}

::ng-deep .mat-autocomplete-panel {
    background: #c2185b ;
}