/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;  width:100%;}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background: #c31432;
    background: linear-gradient(to right, #240b36, #c31432);
    color: #ffff;
}
.mat-form-field{
    width:100%;
}
.misc-bottom-padding{margin:8px 0 20px;}
.misc-bottom-padding mat-label{margin-right:15px;}
.mat-radio-label{margin:0 15px 0 0;}
.title-center{margin:0 auto;}
.button-wrapper{margin-top:10px;}

.mat-simple-snackbar {
    font-size: 1.2em;
    color: white;
}

.snackbar-error {
    background-color: red;
}

.snackbar-success {
    background-color: green;
}

.snackbar-info {
    background-color: blue;
}